.LddLuckyDuckDays{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/*
.chooseContactMethod{
	display:table; 
	width:100%;
}

.chooseContactMethod > *{
	display:table-cell;
	width:100%;
}
*/

.errorText{
	background-color:yellow;
}

.imgDuck{
	float:left;
	margin:0px 5px;
}


.textChoose{
	text-align:left;
}

.LddLuckyDuckDays .slcEmailPhone .OjOption{
	display:inline-block;
	margin: 0px 10px;
}

.LddLuckyDuckDays .slcEmailPhone .indicator{
	overflow:visible;
}

.contentPanel{
	background-color: #c1d2e1;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
	/*width: 85%; */
	/*width: 240px;
  	height: 100%;*/
	padding: 5px;
	margin: 5px;
	-moz-box-shadow: 1px 1px 2px #566F88;
	-webkit-box-shadow: 1px 1px 2px #566F88;
	box-shadow: 1px 1px 2px #566F88;
}

.registeredDucks {
	background-color: #c1d2e1;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;

	padding: 5px;
	margin: 5px;

	-moz-box-shadow: 1px 1px 2px #566F88;
	-webkit-box-shadow: 1px 1px 2px #566F88;
	box-shadow: 1px 1px 2px #566F88;
}
	.registeredDucks .LddDuckRenderer .OjLabel {
		display: block;
	}

.futureContactPanel{
	background-color: #c1d2e1;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
	/*width: 85%; */
	/*width: 240px;
  	height: 100%;*/
	padding: 5px;
	margin: 5px;
	-moz-box-shadow: 1px 1px 2px #566F88;
	-webkit-box-shadow: 1px 1px 2px #566F88;
	box-shadow: 1px 1px 2px #566F88;
}

.mailingAddressPanel{
	background-color: #c1d2e1;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
	/*width: 85%; */
	/*width: 240px;
  	height: 100%;*/
	padding: 5px;
	margin: 5px;
	-moz-box-shadow: 1px 1px 2px #566F88;
	-webkit-box-shadow: 1px 1px 2px #566F88;
	box-shadow: 1px 1px 2px #566F88;
}

/************ Mailing Address *****************/

.LddLuckyDuckDays .lblAddrCity {
	width:50%;
}

.LddLuckyDuckDays .lblAddrState {
	width:20%;
}

.LddLuckyDuckDays .lblAddrZip {
	width:20%;
}