<div>
	<div class=contentPanel>
        <textinput label="Name:" var=lblName></textinput>
        <selector label="Choose" var=slcEmailPhone on-change="_onSlcEmailPhone" selection-renderer="OjRadioOption">
            <i>"Email"</i>
            <i>"Phone"</i>
        </selector>
        <textinput label="Email Address:" var=lblEmailReq></textinput>
        <textinput label="Phone Number:" var=lblPhoneReq class=hidden></textinput>
	</div>

    <textinput label="Mailing Address:" var=lblMailingAddress></textinput>
    <textinput label="Email Address:" var=lblEmail class=hidden></textinput>
    <textinput label="Phone Number:" var=lblPhone></textinput>

    <div var=duckContainer>
        <duckform></duckform>
    </div>

    <button on-click="_onAddDuck">+</button>

	<button on-click="_onRegister">Register</button>
	<button on-click="_onAdoptionPaper">Adoption Paper</button>	
</div>