<div>
	<div class=contentPanel>
	<textinput label="Name:" var=lblName></textinput>
	<selector label="Choose" var=slcEmailPhone on-change="_onSlcEmailPhone"></selector>
	<textinput label="Email Address:" var=lblEmailReq></textinput>
	<textinput label="Phone Number:" var=lblPhoneReq class=hidden></textinput>
	</div>
		<textinput label="Mailing Address:" var=lblMailingAddress></textinput>
		<textinput label="Email Address:" var=lblEmail class=hidden></textinput>
		<textinput label="Phone Number:" var=lblPhone></textinput>	
	<div>
		<textinput label="Duck ID:" var=lblDuckID></textinput>
		<textinput label="Duck Name:" var=lblDuckName></textinput>
	</div>
	<button on-click="_onRegister">Register</button>
	<button on-click="_onAdoptionPaper">Adoption Paper</button>	
</div>